
<div class="row justify-content-center">
    <div class="col-6">
        <div class="card">
            <div class="card-header bg-dark text-white">Login</div>
            <div class="card-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input [(ngModel)]="formLogin.username" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input [(ngModel)]="formLogin.password" type="password" class="form-control" id="exampleInputPassword1">
                </div>                 
                <button (click)="onLogin()" type="submit" class="btn btn-dark">Submit</button>
            </div>
        </div>
    </div>
</div>